<div class="row">
    <div class="col-4" style="margin-left: 35px;">
    <br><br>
    <h3>Create new account</h1>
    <br>
        <form action="/create" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                {{#if errors.username}}
                    <ul>
                        {{#each errors.username}}
                            <li><small style="color: red;">{{this}}</small></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="account_password">Password</label>
                <input type="text" class="form-control" id="account_password" name="account_password" placeholder="Enter password">
                {{#if errors.account_password}}
                    <ul>
                        {{#each errors.account_password}}
                            <li><small style="color: red;">{{this}}</small></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="hostname">Hostname</label>
                <input type="text" class="form-control" id="hostname" name="host" placeholder="Enter hostname">
                {{#if errors.host}}
                    <ul>
                        {{#each errors.host}}
                            <li><small style="color: red;">{{this}}</small></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
                {{#if errors.description}}
                    <ul>
                        {{#each errors.description}}
                            <li><small style="color: red;">{{this}}</small></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Public account</label>
                <select class="form-control" id="exampleFormControlSelect1" name="public">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                {{#if errors.public}}
                    <ul>
                        {{#each errors.public}}
                            <li><small style="color: red;">{{this}}</small></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>