<div style="margin-left: 35px;">
    <br><br>
    <h1>Api Keys</h1>
    <br>
    <form method="POST" action="/api-keys/generate">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input class="btn btn-sm btn-info" type="submit" value="Generate api key">
    </form>
    {{#if generated}}
        <br><br>
        <p><b>New api key has been generated!<br>Please write down the secret because it will not be retrievable later.</b></p>
        <b>KEY:</b> {{generated.key}}<br>
        <b>SECRET:</b> {{generated.secret}}
    {{/if}}
    <br><br><br>
</div>
<table style="margin-left: 35px;" class="table table-striped table-responsive-md btn-table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Key
            </th>
            <th>
                Last Usage At
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each api_keys}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.key}}</td>
                <td>{{this.last_usage_at}}</td>
                <td>
                    <form method="POST" action="/api-keys/{{this.id}}/delete">
                        <input type="hidden" name="_csrf" value="{{../csrf}}">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" value="Delete" class="btn btn-xs btn-outline-danger">
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>